.AccountPage
  = link_to root_path do
    .Logo
      = image_tag 'logo.png',class: 'Logo__image'

  .AccountPage__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .Forms
        %h2 ユーザー情報
        .FormField
          .FormField__label--normal
            = f.label :nickname, "ニックネーム"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :nickname, autofocus: true, placeholder: "例)マコなり"
        .FormField
          .FormField__label--normal
            = f.label :email, "Eメール"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.email_field :email
        .FormField
          .FormField__label--normal
            = f.label :password, "パスワード"
            %i (英数字7文字以上)
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.password_field :password, autocomplete: "off"
        .FormField
          .FormField__label--normal
            = f.label :password_confirmation, "パスワード確認"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.password_field :password_confirmation, autocomplete: "off"
        %h2  本人確認情報
        .FormField
          .FormField__label--normal
            = f.label :family_name, "名字(全角)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :family_name, placeholder: "例)三浦"
        .FormField
          .FormField__label--normal
            = f.label :first_name, "名前(全角)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :first_name, placeholder: "例)卓人"

        .FormField
          .FormField__label--normal
            = f.label :family_furigana, "名字(全角ふりがな)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :family_furigana, placeholder: "例)みうら"
        .FormField
          .FormField__label--normal
            = f.label :first_furigana, "名前(全角ふりがな)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :first_furigana, placeholder: "例)たくと"

        .FormField
          .FormField__label--normal
            = f.label :birthday,"生年月日"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :birthday, placeholder: "例) 19900728"

        %h2 お届け先情報
        .FormField
          .FormField__label--normal
            = f.label :recipient_family_name, "受取人名字(全角)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :recipient_family_name, placeholder: "例)吉澤"
        .FormField
          .FormField__label--normal
            = f.label :recipient_first_name, "受取人名前(全角)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :recipient_first_name, placeholder: "例)賢祐"

        .FormField
          .FormField__label--normal
            = f.label :recipient_family_furigana, "受取人名字(全角ふりがな)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :recipient_family_furigana, placeholder: "例)よしざわ"
        .FormField
          .FormField__label--normal
            = f.label :recipient_first_furigana, "受取人名前(全角ふりがな)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :recipient_first_furigana, placeholder: "例)けんすけ"

        .FormField
          .FormField__label--normal
            = f.label :zip_cord, "郵便番号(ハイフン無し)"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :zip_cord, placeholder: "例)0000000"
        .FormField
          .FormField__label--normal
            = f.label :prefecture, "都道府県"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.select :prefecture, User.prefectures.keys, include_blank: "選択してください"
        .FormField
          .FormField__label--normal
            = f.label :city, "市区町村"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :city, placeholder: "例)〇〇市〇〇町"
        .FormField
          .FormField__label--normal
            = f.label :address, "番地"
            %span.FormField__label__require 必須
            %br/
          .FormField__input--normal
            = f.text_field :address, placeholder: "例)〇〇丁目〇〇番〇〇号"
        .FormField
          .FormField__label--normal
            = f.label :mansion, "建物名orマンション名、部屋番号"
          .FormField__input--normal
            = f.text_field :mansion, placeholder: "例)サンライズハイツ〇〇号室"
        .FormField
          .FormField__label--normal
            = f.label :tel, "お届け先の電話番号(ハイフンなし10桁or11桁)"
          .FormField__input--normal
            = f.text_field :tel
        
        .actions
          = f.submit "アカウント作成", class: 'Button UserButton'
