.AccountPage
  .AccountPage__title
    %h2 アカウントの編集
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
    = link_to "トップページに戻る", :back, class: 'Button'
  
  .AccountPage__form
    = form_for(current_user) do |f|
      = devise_error_messages!
      %h4 ユーザー情報
      .FormField
        .FormField__label--normal
          = f.label :nickname, "ニックネーム"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :nickname, autofocus: true, placeholder: "例)マコなり"
      .FormField
        .FormField__label--normal
          = f.label :email, "Eメール"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.email_field :email
      .FormField
        .FormField__label--normal
          = f.label :password, "パスワード"
          %i (英数字7文字以上)
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.password_field :password, autocomplete: "off"
      .FormField
        .FormField__label--normal
          = f.label :password_confirmation, "パスワード確認"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.password_field :password_confirmation, autocomplete: "off"
      %h4 本人確認情報
      .FormField
        .FormField__label--normal
          = f.label :family_name, "名字(全角)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :family_name, placeholder: "例)三浦"
      .FormField
        .FormField__label--normal
          = f.label :first_name, "名前(全角)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :first_name, placeholder: "例)卓人"

      .FormField
        .FormField__label--normal
          = f.label :family_name_furigana, "名字(全角ふりがな)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :family_name_furigana, placeholder: "例)みうら"
      .FormField
        .FormField__label--normal
          = f.label :first_name_furigana, "名前(全角ふりがな)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :first_name_furigana, placeholder: "例)たくと"

      .FormField
        .FormField__label--normal
          = f.label :birthday,"生年月日"
          %span.FormField__label__require 必須
          %br/           
          = raw sprintf(f.date_select(:birthday, autofocus: true, prompt:"--",use_month_numbers: true, start_year:Time.now.year,end_year:(1900),date_separator:'%s'), '年 ', '月 ') + '日' 
          = icon 'fas', 'chevron-down',class:"FormField__icon1"
          = icon 'fas', 'chevron-down',class:"FormField__icon2"
          = icon 'fas', 'chevron-down',class:"FormField__icon3"
       
      .FormField
        .FormField__label--normal
          = f.label :recipient_family_name, "受取人名字(全角)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :family_name, placeholder: "例)吉澤"
      .FormField
        .FormField__label--normal
          = f.label :recipient_first_name, "受取人名前(全角)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :recipient_first_name, placeholder: "例)賢祐"

      .FormField
        .FormField__label--normal
          = f.label :recipient_family_furigana, "受取人名字(全角ふりがな)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :recipient_family_furigana, placeholder: "例)よしざわ"
      .FormField
        .FormField__label--normal
          = f.label :recipient_first_furigana, "受取人名前(全角ふりがな)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :recipient_first_furigana, placeholder: "例)けんすけ"

      .FormField
        .FormField__label--normal
          = f.label :zip_cord, "郵便番号(ハイフン有り)"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :zip_cord, placeholder: "例)000-0000"
      .FormField
        .FormField__label--normal
          = f.label :prefecture, "都道府県"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :prefecture, placeholder: "例)〇〇県"
      .FormField
        .FormField__label--normal
          = f.label :city, "市区町村"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :city, placeholder: "例)〇〇市〇〇町"
      .FormField
        .FormField__label--normal
          = f.label :address, "番地"
          %span.FormField__label__require 必須
          %br/
        .FormField__input--normal
          = f.text_field :address, placeholder: "例)〇〇丁目〇〇番〇〇号"
      .FormField
        .FormField__label--normal
          = f.label :mansion, "建物名orマンション名、部屋番号"
        .FormField__input--normal
          = f.text_field :mansion, placeholder: "例)サンライズハイツ〇〇号室"
      .FormField
        .FormField__label--normal
          = f.label :tel, "お届け先の電話番号"
        .FormField__input--normal
          = f.text_field :tel

      = f.submit "更新", class: 'Button UserButton'