= render 'shared/header'
.main-field
  .side-field
    .side-field__top
      %ui.list
        %li
          = link_to "#", class:"list__content-active" do
            .list__content-active__left
              マイページ
            .list__content-active__right
              = icon("fas", "chevron-right")
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              お知らせ
            .list__content__right
              = icon("fas", "chevron-right")
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              やることリスト
            .list__content__right
              = icon("fas", "chevron-right")
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              いいね！一覧
            .list__content__right
              = icon("fas", "chevron-right")
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              出品する
            .list__content__right
              = icon("fas", "chevron-right")

    .side-field__middle
      %h3
        フリペイ
      %ui.list
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              残高・振込申請
            .list__content__right
              = icon("fas", "chevron-right")
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              ポイント
            .list__content__right
              = icon("fas", "chevron-right")

    .side-field__end
      %h3
        設定
      %ui.list
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              プロフィール
            .list__content__right
              = icon("fas", "chevron-right")
        %li
          = link_to new_card_path, class:"list__content" do
            .list__content__left
              支払い方法
            .list__content__right
              = icon("fas", "chevron-right")
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              本人情報
            .list__content__right
              = icon("fas", "chevron-right")
        %li
          = link_to "#", class:"list__content" do
            .list__content__left
              ログアウト
            .list__content__right
              = icon("fas", "chevron-right")
     
  .content-field
    .content-field__top
      .content-field__top__user
        = link_to "#", class:"content-field__top__user__link" do
          .content-field__top__user__link__icon
            =image_tag(src= "beef.jpeg", class: "content-field__top__user__link__icon__image")
          %h2.content-field__top__user__link__name
            田中
          .content-field__top__user__link__number
            .content-field__top__user__link__number__left
              評価
            .content-field__top__user__link__number__value
              30
            .content-field__top__user__link__number__right
              出品数
            .content-field__top__user__link__number__value
              60

    .content-field__end
      %h2.content-field__end__head
        購入した商品
      %ui.content-field__end__tabs
        %li
          = link_to "#", class:"content-field__end__tabs__tab-active" do
            取引中
        %li
          = link_to "#", class:"content-field__end__tabs__tab" do
            過去の取引
      .content-field__end__content
        %ul.content__list
          %li
            = link_to "#", class:"content__list__link" do
              =image_tag(src= "a004.png", class: "content__list__link__image")
              .content__list__link__center
                .content__list__link__center__top
                  お肉
                .content__list__link__center__end
                  取引完了
              .content__list__link__right
                = icon("fas", "chevron-right")
          %li
            = link_to "#", class:"content__list__link" do
              =image_tag(src= "a004.png", class: "content__list__link__image")
              .content__list__link__center
                .content__list__link__center__top
                  お肉
                .content__list__link__center__end
                  取引完了
              .content__list__link__right
                = icon("fas", "chevron-right")
          %li
            = link_to "#", class:"content__list__link" do
              =image_tag(src= "a004.png", class: "content__list__link__image")
              .content__list__link__center
                .content__list__link__center__top
                  お肉
                .content__list__link__center__end
                  取引完了
              .content__list__link__right
                = icon("fas", "chevron-right")
          %li
            = link_to "#", class:"content__list__link" do
              =image_tag(src= "a004.png", class: "content__list__link__image")
              .content__list__link__center
                .content__list__link__center__top
                  お肉
                .content__list__link__center__end
                  取引完了
              .content__list__link__right
                = icon("fas", "chevron-right")
          %li.content__list__catalog
            = link_to "#", class:"content__list__catalog__link" do
              一覧を見る

- if user_signed_in?
  = link_to new_product_path do
    .Exhibition-btn
      .Exhibition-btn__name 出品する
      =image_tag(src= "icon_camera.png", class: "Exhibition-btn__image")
- else
  = link_to new_user_session_path do
    .Exhibition-btn
      .Exhibition-btn__name 出品する
      =image_tag(src= "icon_camera.png", class: "Exhibition-btn__image")

=render 'shared/footer'