.main-field
  .side-field
    .side-field__top
      %ui.side-field__top__list
        %li.side-field__top__list__content
          = link_to "#" do
            .side-field__top__list__content__left
              マイページ
            .side-field__top__list__content__right
              = icon("fas", "chevron-right")
        %li.side-field__top__list__content
          = link_to "#" do
            .side-field__top__list__content__left
              お知らせ
            .side-field__top__list__content__right
              = icon("fas", "chevron-right")
        %li.side-field__top__list__content
          = link_to "#" do
            .side-field__top__list__content__left
              やることリスト
            .side-field__top__list__content__right
              = icon("fas", "chevron-right")
        %li.side-field__top__list__content
          = link_to "#" do
            .side-field__top__list__content__left
              いいね！一覧
            .side-field__top__list__content__right
              = icon("fas", "chevron-right")
        %li.side-field__top__list__content
          = link_to "#" do
            .side-field__top__list__content__left
              出品する
            .side-field__top__list__content__right
              = icon("fas", "chevron-right")

    .side-field__middle
      %h1
        フリペイ
      %ui.side-field__middle__liset
        %li.side-field__middle__list__content
          = link_to "#" do
            .side-field__middle__list__content__left
              残高・振込申請
            .side-field__middle__list__content__right
              = icon("fas", "chevron-right")
        %li.side-field__middle__list__content
          = link_to "#" do
            .side-field__middle__list__content__left
              ポイント
            .side-field__middle__list__content__right
              = icon("fas", "chevron-right")

    .side-field__end
      %h1
        設定
      %ui.side-field__end__liset
        %li.side-field__end__list__content
          = link_to "#" do
            .side-field__end__list__content__left
              プロフィール
            .side-field__end__list__content__right
              = icon("fas", "chevron-right")
      %ui.side-field__end__liset
        %li.side-field__end__list__content
          = link_to "#" do
            .side-field__end__list__content__left
              支払い変更
            .side-field__end__list__content__right
              = icon("fas", "chevron-right")
      %ui.side-field__end__liset
        %li.side-field__end__list__content
          = link_to "#" do
            .side-field__end__list__content__left
              本人情報
            .side-field__end__list__content__right
              = icon("fas", "chevron-right")
      %ui.side-field__end__liset
        %li.side-field__end__list__content
          = link_to "#" do
            .side-field__end__list__content__left
              ログアウト
            .side-field__end__list__content__right
              = icon("fas", "chevron-right")
     
  .content-field