%nav.breadCrumbs
  %ul
    %li
      = link_to "#" do
        FURIMA
    %li
      %i{class:"fa fa-angle-right"}
    %li
      = link_to "#" do
        レディース
    %li
      %i{class:"fa fa-angle-right"}
    %li
      = link_to "#" do
        トップス
    %li
      %i{class:"fa fa-angle-right"}
    %li
      = link_to "#" do
        Tシャツ/カットソー(半袖/袖なし)
    %li
      %i{class:"fa fa-angle-right"}
    %li
      %pテスト
.Main
  .Main__show
    .Main__show__contLeft
    .Main__show__contRight
      .Main__show__contRight__topCont
        .Main__show__contRight__topCont__itemBox
          %h2.Main__show__contRight__topCont__itemBox__name
            = @product.name
          .Main__show__contRight__topCont__itemBox__body
            %ul
              %li
                #main-image
                  = image_tag @product.images[0].url.to_s
                  -if @product.orders.present? 
                    .items-box_photo__sold
                      .items-box_photo__sold__inner
                        SOLD
                %ul
                  -  @product.images.each do |image|
                    %li{class:"choice", id:"image-list"}
                      = image_tag image.url.to_s
          .Main__show__contRight__topCont__itemBox__price
            %span
              = "¥" + @product.price.to_s(:delimited)
            .Main__show__contRight__topCont__itemBox__price__tail
              %span
                （税込）
              %span
                送料込み

          - if user_signed_in? 
            - unless current_user.id == @product.user_id
              = link_to edit_product_path(@product.id), method: :get do
                .Main__show__contRight__topCont__itemBox__buy
                  購入画面に進む
          - else
            = link_to new_user_session_path do
              .Main__show__contRight__topCont__itemBox__buy
                購入画面に進む

          .Main__show__contRight__topCont__itemBox__detail
            =  @product.details
          .Main__show__contRight__topCont__itemBox__table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    =  @product.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to "#{@category_parent.name}","#"
                    %br= link_to "#{@category_child.name}","#"
                    = link_to "#{@category_grandchild.name}","#"
                %tr
                  %th
                    ブランド
                  %td
                    
                %tr
                  %th
                    商品のサイズ
                  %td
                    
                %tr
                  %th
                    商品の状態
                  %td
                    =  Condition.find(@product.condition_id).name
                %tr
                  %th
                    配送料の負担
                  %td
                    =  @product.fee_side 
                %tr
                  %th
                    発送元の地域
                  %td
                    = link_to "#" do
                      =  Prefecture.find(@product.prefecture_id).name
                %tr
                  %th
                    発送日の目安
                  %td
                    =  Day.find(@product.days_id).name
          .Main__show__contRight__topCont__itemBox__aria
            %ul
              %li{class:"optionalBtn likeBtn",id:"likeBtn"}
                %i{class:"fa fa-star"}
                  お気に入り 1
            %ul.option
              %li{class:"optionalBtn"}
                = link_to "#" do
                  %i{class:"fa fa-flag"}
                    不適切な商品の通報
        - if user_signed_in? && current_user.id == @product.user_id
          .Main__show__contRight__topCont__action
            %ul.action
              = link_to compilation_product_path(@product.id) do
                %li.Main__show__contRight__topCont__action__edit
                  商品の編集
              %li
                or
              = link_to product_path(@product.id), method: :delete, data: { confirm: '削除しますか？' } do
                %li.Main__show__contRight__topCont__action__delete
                  商品の削除

        .Main__show__contRight__topCont__comeBox
          %ul.comeCon
          %form{class:"new_comment", id:"new_comment",action:"#", acceptcharset:"UTF-8"}
            %input{name:"utf8",type:"hidden",value:"✓"}
            %input{name:"authenticity_token",type:"hidden",value:"mScUnLeaTbFM+ljkg74AFHGdvKa1EuMN2FoZXTgUichr7Kg2oLXvF1W2yCVI5jgVSPlYLDNhBewE3alqvXQVBw=="}
            %textarea{required:"required",name:"comment[body]",id:"comment_body"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
              %br/
            %button{name:"button",type:"submit",class:"commentBtn"}
              %i{class:"fa fa-comment"}
                コメントする
      %ul.Main__show__contRight__links
        %li
          = link_to "#" do
            %i{class:"fa fa-angle-left"}
            %span
              前の商品
        %li
          = link_to "#" do
            %span
              後ろの商品
            %i{class:"fa fa-angle-right"}
      .Main__show__contRight__items
        = link_to "#" do
          レディースをもっと見る
        .Main__show__contRight__items__lists
          .Main__show__contRight__items__lists__list
            = link_to "#" do
              %figure{class:"productList--img"}
                = image_tag src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
              .Main__show__contRight__items__lists__list__body
                %h3{class:"name"}
                  product1
                .Main__show__contRight__items__lists__list__body__details
                  %ul
                    %li
                      10000円
                    %li
                      %i:{class:"fa fa-star likeIcon"}
                        1
                  %p
                    (税込)


