%header.Top
  .Top__innerTop
    .Top__innerTop__main
      %h1.Logo
        = link_to "/" do
          = image_tag src="logo.png"
      .Top__innerTop__main__seach
        = form_with url: search_products_path, local: true, class: "Top__innerTop__main__seach__box", method: :get do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "Top__innerTop__main__seach__box__text"
          = icon('fas', 'search', class: "Top__innerTop__main__seach__box__image")
          = f.submit "", class: "Top__innerTop__main__seach__box__btn"
    .Mokuji
      %ul.Mokuji__themeLeft
        %li.Mokuji__themeLeft__item.Mokuji__themeLeft__item--one
          = link_to "#", id: 'categoBtn' do
            カテゴリー
          #tree_menu
            %ul.categoryTree
              - @parents.each do |parent|
                %li.category_parent
                  = link_to "#" do
                    %input{type: "button", value: "#{parent.name}", name: "#{parent.id}", class: "parent_btn"}
              %li.category_parent
                = link_to "#" do
                  %input{type: "button", value: "全てのカテゴリー", id: "all_btn"}
            %ul.categoryTree-child
            %ul.categoryTree-grandchild

        %li.Mokuji__themeLeft__item
          = link_to "#" , id:"brandBtn"do
            ブランド
      
      %ul.Mokuji__themeRight
        - if user_signed_in?
          %li.Mokuji__themeRight__item.Mokuji__themeRight__item--log
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.Mokuji__themeRight__item.Mokuji__themeRight__item--new
            = link_to user_path(current_user) do
              = current_user.nickname
        - else
          %li.Mokuji__themeRight__item.Mokuji__themeRight__item--log
            = link_to new_user_session_path do
              ログイン
          %li.Mokuji__themeRight__item.Mokuji__themeRight__item--new
            = link_to new_user_registration_path do
              新規会員登録