.Listing
  = link_to root_path do
    .Logo
      = image_tag 'logo.png',class: 'Logo__image'
  = form_with model: @product, local: true do |f|
    .Product
      = render 'shared/error-messages', model: f.object
      .Product__image
        %p.Product__image__title 
          出品画像 
          %span
            必須
        #previews
          #image-select-btn
            image select
        #delete_button_field
        %p.Product__image__detail 最大5枚までアップロードできます
        #image-file-fileds
          = f.fields_for :images, @product.images.build do |i|
            = i.file_field :url, class: 'Product__image__submit',data:{index: i.index}
            - if @product.persisted?
              = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
          - if @product.persisted?
            .js-file_group{"data-index" => "#{@product.images.count}"}
            = file_field_tag :url, name: "product[images_attributes][#{@product.images.count}][url]", class: 'js-file'
            .js-remove 削除
            
      .Product__name
        %p.Product__name__title 
          商品名
          %span
            必須
        = f.text_field :name, class: 'Product__name__text', placeholder: '40文字まで'

      .Product__explanation
        %p.Product__explanation__title 
          商品の説明
          %span
            必須
        = f.text_area :details, class: 'Product__explanation__text', placeholder: '商品の説明（必須 1000文字以内）'
        //文字数カウントはJSで行います。

      .Product__detail
        .Product__detail__title 商品の詳細
        .Product__detail__category
        = f.label 'カテゴリー', class: 'Product__detail__category__label'
        %span.Product__detail__category__require
          必須
        .Product__detail__category__select
          .Product__detail__category__select__box
          = f.select :category_id, @category_parent_array, {}, {class: 'Product__detail__category__select__box--form', id: 'parent_category'}
          -# %i.fas.fa-chevron-down.Product__detail__category__select__box--arrow-down

        .Product__detail__brand
          %p.Product__detail__brand__title
            ブランド
            %span
              任意
          = f.text_field :brand, class: 'Product__detail__brand__text', placeholder: '例）シャネル'
        
        .Product__detail__status
          %p.Product__detail__status__title
            商品の状態
            %span
              必須
          .Product__detail__status__select
            = f.collection_select :condition_id, Condition.all, :id, :name,{prompt: "選択してください"} , {class: 'Product__detail__status__select__form'}
      .Product__delivery
        .Product__delivery__title 商品の配送
        .Product__delivery__burden 
          %p.Product__delivery__burden__title
            配送料の負担
            %span
              必須
          .Product__delivery__burden__select
            = f.select :fee_side, options_for_select(["送料込み(出品者負担)", "着払い(購入者負担)"]), {prompt: "選択してください"}, {class: 'Product__delivery__burden__select__form'}

        .Product__delivery__region
          %p.Product__delivery__region__title
            発送元の地域
            %span
              必須
          .Product__delivery__region__select
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "選択してください"}, {class: 'Product__delivery__region__select__form'}
      
        .Product__delivery__day
          %p.Product__delivery__day__title
            発送までの日数
            %span
              必須
          .Product__delivery__day__select
            = f.collection_select :days_id, Day.all, :id, :name, {prompt: "選択してください"}, {class: 'Product__delivery__day__select__form'}

      .Product__price
        .Product__price__title
        .Product__price__sale
          %p.Product__price__sale__title
            販売価格
            %span
              必須
          %span{class: "Product__price__sale__symbol"}
            ¥
          = f.text_field :price, class: 'Product__price__sale__form', placeholder: '0'
      
      .Product__btn
        = f.submit '出品する', class: 'Product__btn__submit'
        = link_to 'もどる', root_path, class: "Product__btn__return"
  
  .End
    .End__copy ©FURIMA
    