=render 'shared/header'
.Top-page
  .Product-search
    .Product-search__theme
      - if params[:keyword] == ""
        全商品
      - else
        = params[:keyword] + "の検索結果"
    .Product-search__lists
      - @products.each do |product|
        = link_to product_path(product.id), method: :get do
          .Product-search__lists__set
            =image_tag product.images[0].url.to_s ,{class: "Product-search__lists__set__image"}
            .Product-search__lists__set__content
              .Product-search__lists__set__content__information
                .Product-search__lists__set__content__information__name  
                  = product.name
                .Product-search__lists__set__content__information__price 
                  = product.price.to_s(:delimited)  + "円"
                .Product-search__lists__set__content__information__tax 
                  (税込)
              .Product-search__lists__set__content__star 
                .Product-search__lists__set__content__star__icon
                  = icon("fa", "star") 
                .Product-search__lists__set__content__star__Evaluation 
                  = 1
            -if product.orders.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD

- if user_signed_in?
  = link_to new_product_path do
    .Exhibition-btn
      .Exhibition-btn__name 出品する
      =image_tag(src= "icon_camera.png", class: "Exhibition-btn__image")
- else
  = link_to new_user_session_path do
    .Exhibition-btn
      .Exhibition-btn__name 出品する
      =image_tag(src= "icon_camera.png", class: "Exhibition-btn__image")

=render 'shared/footer'